@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import 'config';
@import "menu";


*{
  box-sizing: border-box;
}
body{
  @include backgroud;
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  //line-height: 1.5;
}

/*********** HEADINGS*************/
h1,
h2,
h3{
  margin: 0;

  &.lg-heading{
    font-size: 3rem;
  }
  &.sm-heading{
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
  }
}

a{
  color:#fff;
  text-decoration: none;
}

header{
  position:fixed;
  z-index: 2;
  width: 100%;

}
.text-secondary{
  color: $secondary-color;
}

/******* MAIN ********/
main{
  padding: 4rem;
  //height: 100%;
  min-height:calc(100vh - 60px);

  .icons{
    margin-top: 1rem;
    a {
      padding: 0.4rem;

      &:hover{
        color: $secondary-color;
        //transition: all 1.5s ease-out;
        @include easeOut;
      }
    }
  }
  &#home{
    overflow: hidden;
    h1{
      margin-top: 20vh;
    }
  }
}

/******** ABOUT GRID*********/


.about-info {
  display: grid;
  grid-gap:30px;
  grid-template-areas:
  'bioimage bio bio'
  'job1 job2 job3';
  grid-template-columns: 1fr 1fr 1fr; // repeat(3,1fr);


  .bio-image{
    grid-area:bioimage;
    margin: auto;
    border-radius: 50%;
    border: 3px solid $secondary-color;
  }


  .bio {
    grid-area: bio;
  }

  .job-1{
    grid-area: job1;
  }
  .job-2{
    grid-area: job2;
  }
  .job-3{
    grid-area: job3;
  }

  .job{
    background: lighten($primary-color,7);
    padding: 10px;
    border-bottom: 5px solid $secondary-color;
  }
}

/****** WORK/Projects *********/
.projects{
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3,1fr); // 1fr 1fr 1fr;

  img{
    width: 100%;
    border:3px solid #fff;

    &:hover{
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}
/*Button styles*/
.btn{
  display:block;
  padding: 10px 20px;
  &:hover{
    background: $secondary-color;
    color: #333;
  }
}
.btn-dark{
@extend .btn;
  background: darken($primary-color,50);
  color: #fff;

}
.btn-light{
  @extend .btn;
  background: lighten($primary-color,50);
  color: #333;

}

/***** CANTACT PAGE *******/
.boxes{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;

  div{
    font-size: 1.5rem;
    border: 3px solid #fff;
    padding: 5px 10px;
    margin-bottom: 45px;
    @include easeOut;

    &:hover{
      padding: 2.5px 5px;
      background: $secondary-color;
      color: $primary-color;
      span{
        color: $primary-color;
      }
    }
  }
}

/******* FOOTER ***********/

#main-footer{
  text-align: center;
  padding: 10px;
  background: darken($primary-color,10);
  color: ($primary-color,10);
  height: 60px;

}

@import "mobile";